html {
	height: 100%;
	font-size: 100%;
	overflow-x: hidden;
}
body {
	min-height: 100%;
	font-size: 18px;
	font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;
	color: $gray;
	background: $page-bg;
	position: relative;
	overflow-x: hidden;
}
p {
	line-height: 1.35em;
}
a {
	color: $gray;
}
.container {
	position: relative;
	z-index: 1;
}
/*
::selection {
	background: rgba(44,62,102,0.75);
	color: white;
}
::-moz-selection {
	background: rgba(44,62,102,0.75);
	color: white;
}*/


.btn {
	display: inline-block;
	line-height: 44px;
	padding: 0 25px;
	font-size: 0.9em;
	letter-spacing: 0.02em;
	cursor: pointer;
	border: 0;
	outline: 0;
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	@include hover-slow;

	p {
		line-height: 44px;
	}
}

.btn-light {
	@extend .btn;
	color: white;
	border: 1px solid white;
	border: 1px solid rgba(255,255,255,0.5);
	background: transparent;

	&:hover,&:focus{
		background: white;
		color: $gray;
	}
}

.btn-dark {
	@extend .btn;
	border: 1px solid #BEBEBE;
	background: transparent;

	&:hover,&:focus{
		border-color: $gray;
		background: $gray;
		color: white;
	}
}

.btn-light, .btn-dark {
	i {
		position: relative;
		top: 1px;
		margin: 0 6px 0 0;

		&.icon-right {
			margin: 0 0 0 6px;
		}
	}
}

h1 {
	font-family: 'Dosis', 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 3.2em;
	font-weight: 400;
	margin: 0 0 70px 0;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 2.2em;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: 3px;
	text-transform: uppercase;
}

h3, .subtitle {
	font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 1.7em;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

@media only screen and (max-width : 991px) {
	h1 {
		font-size: 2.7em;
	}

	h2 {
		font-size: 1.9em;
	}

	h3, .subtitle {
		font-size: 1.6em;
	}
}

@media only screen and (max-width : 767px) {
	h1 {
		font-size: 2.4em;
		margin-bottom: 50px;
	}

	h2 {
		font-size: 1.7em;
	}

	h3, .subtitle {
		font-size: 1.4em;
	}
}

.caption {
	color: white;
	background: rgba(0,0,0,0.8);
	margin: 0;
	padding: 8px 15px;
	font-size: 0.9em;
	position: absolute;
	bottom: 0px;
	right: 0px;

	@media only screen and (max-width : 460px) {
		font-size: 0.85em;
	}
}