.navbar-logo {
	width: 271px;
	height: 83px;
	display: inline-block;
	float: left;
	background: url(../img/navbar-logo.png) 0% 0% no-repeat;
	margin-left: 10px;
	@include hover-slow;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-size: 271px 83px;
		background-image: url(../img/navbar-logo@2x.png);
	}
}

.navbar-items {
	padding: 0;
	margin: 0;
	list-style: none;
	white-space: nowrap;

	li {
		display: inline-block;

		a {
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 0.85em;
			font-weight: normal;
			line-height: 96px;
			padding: 0 10px;
			@include hover;

			&:hover {
				color: $green;
			}
		}

		&.active {
			a {
				color: $green;
				font-weight: 600;
			}
		}
	}
}

.navbar {
	width: 100%;
	height: 96px;
	background: $page-bg;
	position: fixed;
	top: 0px;
	z-index: 100;
	text-align: right;
	@include hover-slow;

	.container-fluid {
		padding: 0 30px;
	}

	&.compact {
		height: 68px;
		border-bottom: 1px solid #E5E5E5;
		background-color: white;
		//box-shadow: 0px 0px 15px rgba(0,0,0,0.2);

		.navbar-items {
			li{
				a{
					line-height: 68px;
				}
			}
		}

		.navbar-logo {
			width: 210px;
			height: 68px;
			background-position: 0% -12px;
		}

		.nav-trigger button {
			width: 68px;
			height: 68px;
			line-height: 68px;
		}

		.btn-nav-trigger {
			left: 0px;
			top: 25px;
		}
	}

	&.hidden {
		transform: translateY(-100%);
	}

	@media only screen and (max-width : 767px) {
		.navbar-logo {
			margin-left: 0px;
		}

		.btn-nav-trigger {
			left: 40px;
		}
	}

	@media only screen and (max-width : 410px) {
		.navbar-logo {
			transform: scale(0.85) translateY(4px) translateX(-35px);
		}

		.btn-nav-trigger {
			left: 45px !important;
		}

		&.compact {
			.navbar-logo {
				background-position: 0% -14px;
			}

			.btn-nav-trigger {
				left: 22px !important;
			}
		}
	}
}

.nav-trigger {
	display: none !important;

	button {
		width: 96px;
		height: 96px;
		line-height: 96px;
		font-size: 38px;
		padding: 0;
		background: transparent;
		position: absolute;
		right: 0;

		i {
			position: relative;
			top: 4px;
			margin: 0;
		}

		&:hover {
			span {
				background-color: $green;
			}	
		}
	}
}

.btn-nav-trigger {
	display: inline-block;
	position: absolute;
	left: 28px;
	top: 38px;

	span {
		width: 28px;
		height: 2px;
		display: inline-block;
		position: absolute;
		background-color: $gray;
		@include hover-slow;
	}
}

.btn-nav-1 {
	top: 0px;
}
.btn-nav-2 {
	top: 8px;
	opacity: 100;
}
.btn-nav-3 {
	top: 16px;
}

@media only screen and (max-width : 1023px) {
	.nav-trigger {
		display: block !important;
	}

	.navbar-items {
		li{
			display: none;
		}
	}
}

.nav-mobile {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translateY(-100%);
	transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: 99;
	background: rgba(243, 243, 243, 0.95);
	overflow: hidden;

	ul {
		padding: 180px 0 0 0;
		margin: 0;
		list-style-type: none;
		text-align: center;

		li {
			margin-bottom: 22px;
			font-size: 2em;

			a {
				text-decoration: none;
				@include hover;

				&:hover {
					color: $green;
				}
			}

			&.active {
				a {
					color: $green;
				}
			}
		}

		@media only screen and (max-height : 767px) {
			padding-top: 130px;

			li {
				margin-bottom: 18px;
				font-size: 1.8em;
			}
		}

		@media only screen and (max-height : 610px) {
			padding-top: 120px;

			li {
				margin-bottom: 15px;
				font-size: 1.6em;
			}
		}

		@media only screen and (max-height : 540px) {
			padding-top: 115px;

			li {
				margin-bottom: 12px;
				font-size: 1.4em;
			}
		}
	}
}

.nav-visible {
	.navbar {
		background: white;
		box-shadow: none;
	}

	.nav-mobile {
		transform: translateY(0);
	}

	.btn-nav-1 {
		transform: rotate(45deg);
		top: 10px;
	}

	.btn-nav-2 {
		opacity: 0;
	}

	.btn-nav-3 {
		transform: rotate(-45deg);
		top: 10px;
	}
}

footer {
	margin-top: 130px;
	text-align: center;
}

.footer-nav {
	background-color: darken($page-bg,4);
	padding: 20px 50px;
	list-style: none;
	margin: 0;

	li {
		display: inline-block;
		padding: 0 8px;

		a {
			text-decoration: none;
			text-transform: uppercase;
			font-size: 0.85em;
			@include hover;

			&:hover {
				color: $green;
			}
		}
	}
}

.footer-copy {
	background-color: darken($page-bg,4);
	padding: 30px 0;

	p{
		margin: 0 0 30px 0;
		font-size: 0.85em;
		color: darken($page-bg,40);
	}
	
	.niklanus{
		width: 93px;
		height: 40px;
		display: block;
		background: url(../img/niklanus.png) no-repeat 50% 50%;
		background-size: 93px 40px;
		margin: 0 auto;
		@include hover;

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background-size: 93px 40px;
			background-image: url(../img/niklanus@2x.png);
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}